<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707139369999-pabecdqbgqu56flb825vggpkc1fo8p06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707139369999-pabecdqbgqu56flb825vggpkc1fo8p06</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707139369999-cgiq3imicanvhslsatv3nkn03eohrv07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClq-pkHofSOuj1bSIFYMBsQbjARRKEyKE</string>
	<key>GCM_SENDER_ID</key>
	<string>707139369999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>houserabbit.com.houseRabbit</string>
	<key>PROJECT_ID</key>
	<string>houserabbit-9e338</string>
	<key>STORAGE_BUCKET</key>
	<string>houserabbit-9e338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707139369999:ios:c42aa605885c6d9bd0377a</string>
</dict>
</plist>